fire-files {
  --c: #1f1d1a;
  --c2: #332f29;

  --c3: #54535155;
  /* --c2: #54535133; */

  --drag-color: #e7e6e5;
  --drop-target: #e1e0e0;
  --selected-color: #c4c1bf;
  --icon-color: #fdfcfb;
  --clines: var(--c2);

  --r1: 1vw;
  --p1: 0.5vw;
  --m1: 1.5vw;
  --p2: 0.75vw;
  --t1: 2px;
  --th: 3vw;

  --r2: calc(var(--r1) + var(--m1));
  --r3: calc(var(--r2) + var(--p2));
  display: block;
  /* position: relative; */
}

.ctx-menu {
  background: #151414aa;
  border-radius: var(--r1);
  color: white;
  /* padding: 0.5em; */
  backdrop-filter: blur(3px);
}
.ctx-menu .menu > div {
  padding: 0.4em;
  padding-bottom: 0.5em;
  padding-top: 0.4em;
  cursor: pointer;
  border-bottom: 1px solid #fff5;
}
.ctx-menu .menu div:first-of-type {
  border-top: 1px solid #fff5;
}
.ctx-menu .input {
  margin: 0.5em;
}
.ctx-menu .input > div {
  display: flex;
  align-items: center;
}
.ctx-menu .input input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #fff5;
  color: white;
  padding: 0.25em 0;
  margin: 0.2em;
  margin-right: 0.75em;

}
.ctx-menu .input img:nth-of-type(n + 2){
  padding-left: 0.75em;
}
.ctx-menu .input img{
  /* padding: 0.75em; */
  cursor: pointer;
  opacity: 0.85;
}
.ctx-menu .input img[invalid] {
  opacity: 0.5;
}

fire-files > div {
  border-radius: var(--r3);
  background: var(--c2);
  padding: var(--p2);
  display: block;
  color: var(--c1);

  width: calc(100% - 2 * var(--p2));
  height: calc(100% - 2 * var(--p1));
}

fire-files img {
  height: 1em;
  float: right;
  padding-left: var(--p1);
}

fire-files input {
  border: none;
  outline: none;
  font-size: 1em;
  font: inherit;
}

fire-files .files {
  display: flex;
  user-select: none;
  /* position: relative; */
  margin: 0;
  padding: 0;
  height: calc(100%);
  width: 100%;
  overflow: scroll;
  border-radius: var(--r2);
}

/* Directory */
.directory {
  border-right: var(--t1) solid var(--clines);
  min-width: 13em;
  overflow-y: scroll;
  background: white;
}

.directory:-moz-drag-over {
  background: var(--c2);
}

.directory:last-of-type {
  border-top-right-radius: var(--r2);
  border-bottom-right-radius: var(--r2);
  border-right: none;
}

/* FFIcons */
.ff-input, .ff-icon {
  padding: var(--p1) calc(var(--p1)*1.3);
  border-radius: var(--r1);
  background: white;
  /* border: var(--t1) solid var(--clines); */
}

.tools {
  background: white;
  height: var(--th);
  border-radius: var(--r2);
}

.ff-icon, .ff-input {
  margin: var(--m1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ff-icon {
  background: var(--icon-color);
  cursor: pointer;
}

.ff-icon[valid] {
  cursor: grabbing;
}
.ff-icon[invalid] {
  cursor: not-allowed;
}
.ff-icon[selected] {
  background: var(--selected-color);
}
.ff-icon[dragging] {
  background: var(--drag-color);
}

.directory[drop-target], .ff-icon[drop-target]:not([dragging]) {
  background: var(--drop-target);
}

/* FFInput  */

.ff-icon:last-of-type {
  margin-bottom: 2em;
}
.ff-input {
  display: flex;
  margin-bottom: var(--m1);
  border-color: var(--c3);
}

.ff-input input{
  padding: 0;
  display:flex;
  width: 8em;
}

.ff-input img {
  opacity: 0.4;
  cursor: pointer;
}
